.banner{
    display: flex;
    background: #F4F9E2;
}

.banner_left{
    padding: 126px 51px 165px 187px;
}

.banner_title{
    font-style: italic;
    font-size: 48px;
    color: #22356F;
    font-weight: 400;
}
.banner_text{
font-style: normal;
font-size: 24px;
line-height: 43px;
color: #22356F;
}



