.app_style {
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2 1fr);
  gap: 30px;
}

.button_app{
    margin: 50px auto;
    text-align: center;
    align-items: center;
}

.button_app button{
    height: 60px;
    width: 150px;
    font-size: 20px;
   
}